@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --myprimary: #000;
    --mysecondary: #1f829a;
    --mytext: #999;
    --myborder: #1f2937;
    --mybackground: #000;
    --myforeground: #777;

    --btn-txtcolor: white;
    --btn-bgcolor: #1f829a;
    --btn-hover-bgcolor: #1f819aab;
  }
}

@layer base {
  * {
    @apply border-myborder;
  }
  body {
    @apply bg-mybackground text-myforeground;
  }
}

header {
  background: linear-gradient(to bottom, black 50%, transparent 100%);
}

.btn {
  background-color: var(--btn-bgcolor);
  border: 2px solid var(--myborder);
  border-radius: 0.5rem;
  color: var(--btn-txtcolor);
  width: fit-content;
  padding: 0.2rem 1rem;
}

.btn:hover {
  background-color: var(--btn-hover-bgcolor);
}
